@charset "utf-8";
html {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	background-color: #303B98;
}

.container {
	min-height:100%;
    position:relative;
	background-color: #FFFFFF;
	border-color: #000000;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.button {
	font-weight: bold;
	display: inline-block;
	height: 25px;
	width: 150px;
	border: solid #000000;
	text-align: center;
	margin-left: .5em;
	margin-right: .5em;
	color: #FFFFFF;
	line-height: 25px;
	background-color: #303B98;
}
	
.button:hover {
	background-color: #5B6DFF;
}

.redbutton {
	font-weight: bold;
	display: inline-block;
	height: 25px;
	width: 150px;
	border: solid #000000;
	text-align: center;
	margin-left: .5em;
	margin-right: .5em;
	background: #B30000;
	color: #FFFFFF;	
	line-height: 25px;
}
	
.redbutton:hover {
	background-color: #F50000;
}
		
.nav {
	text-align: center;
}

h1 {
	display: block;
	height: 1em;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-top-style: solid;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Changa One', cursive;
	font-size: 6em;
	margin-top: -8px;
	padding-bottom: .2em;
	margin-bottom: 0;
	color: #000000;
	text-indent: 0px;
}


h2 {
	width: 800px;
	background-color: #D7D7D7;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-color: #000000;
	padding-bottom: 0.2em;
	padding-top: 0.2em;
	margin: auto;
	font-size: 2.5em;
	}

.content {
	height: calc(100% - 25.4em);
	position:fixed;
    width: calc(800px - 6em);
	background-color: #FFFFFF;
	padding-top: 1em;
	padding-left: 3em;
	padding-right: 3em;
	padding-bottom: 1em;
	overflow-y:auto;
}

.footer {
	height: 5em;
	position: fixed;
	bottom: 0px;
	width: 800px;
	text-align: center;
	background-color: #FFFFFF;
	border-top-style: solid;
	border-top-color: #000000;
	padding-bottom: 0em;
	padding-top: 0;
	border-bottom: solid #000000;
	
}

a:link {
	text-decoration: none;
	color: blue;
}